body {
  background-color:rgba(235,235,235,255)
}

a{
  color:rgba(51,51,51,.6);
  text-decoration: none;


}

a:link {
  text-decoration: none;
  color:rgba(51,51,51,.6);
}


/* el boton no se muestra en la vista de pc */
.wrapButon{display: none;}
/* navbar styles */
.main-header{
  background-color: #fff159;
  font-size: 14px;}

.main-navbar{
  display: flex;
  justify-content: flex-start;
}


.mercado-liebre-logo{
  padding: 10px;
  width: 90%;
  
}
.nav-link{
  padding-right:10em ;
}

ul {
  list-style-type:none;
  color:rgba(51,51,51,.6);
}

/* estilos de flexbox  */
.linksNavegacion{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.titulo{padding:10px}

.search{
border: solid black 1px;
border-radius: 5px;
}
/* toggle button is not displayed on pc  */
.btn-toggle-navbar{display: none;}

/* payment methods */
.normalPaymentMethods{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

media(max-s)