<!DOCTYPE html>
<html>
  <!-- head -->
	<%- include('partials/head',{title:'Mercado Libre Argentina'}) %>
    
  <body>
  
  <!-- navbar -->
	<%- include('partials/navbar') %>
	<!-- /Header -->
	
</body>
</html>
