<!DOCTYPE html>
<html>
  <!-- head -->
	<%- include('partials/head',{title:'Mercado Libre Argentina'}) %>
    
  <body>
  
  <!-- navbar -->
	<%- include('partials/navbar') %>
  <!-- /navbar -->
  
  <!-- caroussel -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mla-home-desktop-slider-picture-98611f6c-f603-4788-85c1-fce1c63b59c9.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mla-home-desktop-slider-picture-103f3c47-b420-4936-8f6c-aeb6dc5f2901.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mla-home-desktop-slider-picture-932f5fa4-348b-4d5e-814f-87da6ad357f7.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- bootsrap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
