

<!DOCTYPE html>
<html>
   <!-- head -->
   <%- include('partials/head',{title:'Mercado Libre Argentina'}) %>
   <body>

      <!-- navbar -->
      <%- include('partials/navbar') %>
      <!-- /navbar -->




<div class="d-flex justify-content-center mt-5">
      <img src="images/error-404-not-found.jpg" class="d-block w-50 rounded " alt="." >
     </div>
     
     <div class="text-center">
     volver al <a href="/"> inicio </a>
     </div>
      
    
</form>

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->

<!-- bootsrap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
   
</body>
</html>