<footer class="main-footer mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
						<!-- image -->
						<div class="d-flex justify-content-around">
							<img class="card-img-top align-self-center" width="20px" src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/payment.svg" alt="" style="width: 50px;">
						</div>
						<!-- /image -->
						<h4 class="mt-4">Pagá con tarjeta o en efectivo</h4>
					<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
						es seguro!</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
				<!-- image -->
					<div class="d-flex justify-content-around">
						<img class="card-img-top align-self-center" width="20px" src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" alt="" style="width: 50px;">
					</div>
					<!-- /image -->
					<h4 class="mt-4">Envío gratis desde $1.999</h4>
					<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
						de Mercado Puntos.</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
						<!-- image -->
						<div class="d-flex justify-content-around">
							<img class="card-img-top align-self-center" style="width: 40px;" src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/protected.svg" alt="" style="width: 50px;">
						</div>
						<!-- /image -->
				<h4 class="mt-4">Seguridad, de principio a fin</h4>
					<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
						protegido.</p>
				</article>
			</div>
		</div>
	</div>
</footer>