<header class="main-header">

    <div class="linksNavegacion">    
    <!-- logo -->
    <div>
    <a href="/"><img  class = "mercado-liebre-logo m-2 rounded" src="../images/icon.jpeg"></a>
</div>
    <!-- /logo -->


<form class="d-flex justify-content-center m-3 serch" action= "/" method="GET">
    <input class="form-control search m-1 rounded" type="search" name="busqueda" id="busqueda" placeholder="Buscá productos, etc.">
    <button name="busqueda rounded h-25" id="busqueda"><i class="fas fa-search"></i></button>
</form>


</div>

<div class="d-flex justify-content-center pb-3">
<button class="wrapButon"><i class="fas fa-bars"></i></button>
</div>

<section class="links pb-1"> 
        <ul class="linksNavegacion">

          <div class="linksNavegacion"> 
               <li class="nav-link">
                <a href="/pageNotFound">Ofertas</a>
            </li>
            <li class="nav-link">
                <a href="/pageNotFound">Tiendas Oficiales</a>
            </li>
            <li class="nav-link">
                <a href="/pageNotFound">Vender</a>
            </li>
            <li class="nav-link">
                <a href="/pageNotFound">Ayuda</a>
            </li> 
        </div>

    <div class="linksNavegacion">
            <li class="nav-link">
                <a href="/users/register">Creá tu cuenta</a>
            </li>
            <li class="nav-link">
                <a href="/users/login">Ingresá</a>
            </li class="nav-link">
            <li class="nav-link">
                <a href="/pageNotFound">Mis compras</a>
            </li >
     </div>
       </ul>
    </section>
</header>

