

    <!-- header -->
    <header class="header">
	
		<!-- logo -->
        <a href="/"><img  class = "mercado-liebre-logo" src="/images/logo.svg"></a>
        <!-- /logo -->
		
		<!-- searchbar -->
		<div class = "header-div-busqueda">
        <input class= "barra-busqueda" type="search" placeholder="Buscar productos, marcas y más."/>
        <i class="icono-busqueda fas fa-search"></i>
        </div>
        <!-- /searchbar -->

		<p class = "descripcion-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá hoy y pagá después</p>

        <!-- navbar -->

        <ul class = "navegacion-header">
        <div class = "div-navegacion-header">
            <li><a href="/">Ofertas</a></li>
            <li><a href="/">Tiendas Oficiales</a></li>
            <li><a href="/">Vender</a></li>
            <li><a href="/"> Ayuda</a></li>
        </div>
    <div class = "div2-navegacion-header">
            <li><a href="/register" class="m-2">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
			<li><a href="/login" class="m-2">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="/login" class="m-2">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
			
    </div>
		</ul>
		<!-- /navbar -->


<div class = "boton-menu">
    <i class="header-menu fas fa-bars"></i>
</div>

</header>
<!-- /header -->